* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 14px;
}

p {
  margin: 0;
  padding: 0;
}

.svg-icon {
  width: 1.2rem;
  height: 1.2rem;
  fill: var(--el-color-primary);
  margin-left: 0.3rem;
}

.select-box-contBox {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;

  .ap-box-contBox-icon {
    position: absolute;
    right: 0.8rem;
    cursor: pointer;
    height: 50%;
    display: flex;
    align-items: center;

    .ap-box-contBox-icon-img {
      height: 100%;
    }
  }

  :deep {
    .el-input__inner {
      padding-right: 1.5rem;
      box-sizing: border-box;
    }
  }
}