* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 14px;
}

p {
  margin: 0;
  padding: 0;
}

a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #3e78d0;
  text-decoration: none;
  cursor: pointer;
}

.svg-icon {
  width: 1.2rem;
  height: 1.2rem;
  fill: var(--el-color-primary) !important;
  margin-left: 0.3rem;
}

.select-box-contBox {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;

  .ap-box-contBox-icon {
    position: absolute;
    right: 0.8rem;
    cursor: pointer;
    height: 50%;
    display: flex;
    align-items: center;

    .ap-box-contBox-icon-img {
      height: 100%;
    }
  }

  :deep {
    .el-input__inner {
      padding-right: 1.5rem;
      box-sizing: border-box;
    }
  }
}

.header-div {
  display: flex;
  align-items: center;
}

.header-div img {
  width: 21px;
  margin-right: 18px;
}

.header-div span {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.85);
}

.content-div {
  padding-left: 40px;
  margin-bottom: 10px;
  font-size: 14px;
}

.scrollbar {
  padding: 0 20px;

  .scrollbar-demo-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin: 20px;
    text-align: center;
    border-radius: 4px;
    background: var(--el-color-primary-light-9);
    color: var(--el-color-primary);
  }
}

.el-message .el-message__badge {
  display: none;
}