// 变量
@import './variable.scss';

$unify-primary-color: var(--primary-6);

/* 多选框 */
.el-checkbox {
  --el-checkbox-checked-text-color: #{$unify-primary-color};
  --el-checkbox-checked-input-border-color: #{$unify-primary-color};
  --el-checkbox-checked-bg-color: #{$unify-primary-color};
  --el-checkbox-input-border-color-hover: #{$unify-primary-color};
  height: auto;
  margin-bottom: 0%;
}

/* 单选框 */
.el-radio {
  --el-radio-input-border-color-hover: #{$unify-primary-color};
  height: auto;
  margin-bottom: 0%;

  .el-radio__input.is-checked .el-radio__inner {
    border-color: #{$unify-primary-color};
    background: #{$unify-primary-color};
  }

  .el-radio__input.is-checked+.el-radio__label {
    color: #{$unify-primary-color};
  }
}

// 自定义按钮
:deep(.Custom-button) {
  .el-button:hover {
    color: var(--primary-6);
    border-color: var(--primary-6);
    background-color: var(--primary-1);
  }

  .el-button--primary:hover {
    color: var(--in-common-use-1);
    border-color: var(--primary-6);
    background-color: var(--primary-6);
  }

  .el-button--primary {
    --el-button-text-color: var(--in-common-use-1);
    --el-button-bg-color: var(--primary-6);
    --el-button-border-color: var(--primary-6);
    --el-button-outline-color: var(--primary-6);
    --el-button-active-color: var(--primary-6);
    --el-button-hover-text-color: var(--in-common-use-1);
    --el-button-hover-bg-color: var(--primary-5);
    --el-button-hover-border-color: var(--primary-5);
    --el-button-active-bg-color: var(--primary-7);
    --el-button-active-border-color: var(--primary-7);
    --el-button-disabled-border-color: var(--in-common-use-1);
  }
}

/* 日期选择器 */
.el-date-editor.el-input,
.el-date-editor.el-input__wrapper {
  width: 100%;
}



/* 下拉菜单 */
// .el-popper__arrow {
//     display: none;
// }

.el-popover {
  padding: 0;
  --el-popover-padding: 0;
  --el-popover-padding-large: 0;
}

:deep(.el-input) {
  --el-input-text-color: rgba(0, 0, 0, 0.65);
  --el-input-border: #d0963e;
  --el-input-hover-border: #d0963e;
  --el-input-focus-border: #d0963e;
  --el-input-transparent-border: 0 0 0 1px transparent inset;
  --el-input-border-color: #dcdfe6;
  --el-input-border-radius: 4px;
  --el-input-bg-color: #ffffff;
  --el-input-icon-color: #606266;
  --el-input-placeholder-color: #606266;
  --el-input-hover-border-color: rgba(0, 0, 0, 0.45);
  --el-input-clear-hover-color: #d0963e;
  --el-input-focus-border-color: #d0963e;
}

:deep(.el-select) {
  --el-select-border-color-hover: rgba(0, 0, 0, 0.45);
  --el-select-disabled-border: #d0963e;
  --el-select-font-size: 14px;
  --el-select-close-hover-color: #d0963e;
  --el-select-input-focus-border-color: #d0963e;
  --el-select-input-font-size: 14px;
}

.login-input {
  --el-component-size-large: 50px;
}

.el-select-dropdown__item.selected {
  color: #d0963e;
}

.el-pagination.is-background .el-pager li:not(.is-disabled):hover {
  color: var(--color-text-1);
}

.el-icon {
  color: var(--Warning-5);
}

.user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.el-switch {
  --el-switch-on-color: #d0963e;
}

.el-dropdown__popper {
  --el-dropdown-menuItem-hover-fill: rgba(0, 0, 0, 0.04) !important;
  --el-dropdown-menuItem-hover-color: #d0963e !important;
}

.el-message--info,
.el-message--success,
.el-message--warning,
.el-message--error {
  --el-message-bg-color: #ffffff !important;
  --el-message-border-color: #ffffff !important;
  box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12),
    0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);

  .el-message__content {
    --el-message-text-color: rgba(0, 0, 0, 0.85);
  }
}

/* 
element button 样式
*/
.el-button {
  --el-button-hover-bg-color: #f3f6f9;
  --el-button-hover-border-color: #d4dbeb;
  --el-button-active-border-color: #d4dbeb;
  --el-button-hover-text-color: rgba(0, 0, 0, 0.65);
  --el-button-text-color: var(--color-text-2);
  // color: var(--el-button-text-color);
}

.el-message-box {
  .el-button {
    --el-button-hover-bg-color: #f3f6f9;
    --el-button-hover-border-color: #d4dbeb;
    --el-button-active-border-color: #d4dbeb;
    --el-button-hover-text-color: rgba(0, 0, 0, 0.65);
  }

  .el-button--primary {
    --el-button-text-color: #ffffff;
    --el-button-bg-color: #d0963e;
    --el-button-border-color: #d0963e;
    --el-button-outline-color: #d0963e;
    --el-button-active-color: #d0963e;
    --el-button-hover-text-color: #ffffff;
    --el-button-hover-bg-color: #d9ab5b;
    --el-button-hover-border-color: #d9ab5b;
    --el-button-active-bg-color: #af7427;
    --el-button-active-border-color: #af7427;
    --el-button-disabled-border-color: #f0f0f0;
  }
}

.el-button--primary {
  --el-button-text-color: #ffffff;
  --el-button-bg-color: #d0963e;
  --el-button-border-color: #d0963e;
  --el-button-outline-color: #d0963e;
  --el-button-active-color: #d0963e;
  --el-button-hover-text-color: #ffffff;
  --el-button-hover-bg-color: #d9ab5b;
  --el-button-hover-border-color: #d9ab5b;
  --el-button-active-bg-color: #af7427;
  --el-button-active-border-color: #af7427;
  --el-button-disabled-border-color: #f0f0f0;
}

/* 
element table 样式
*/
.el-table {
  color: var(--color-text-2);
}


/* 
输入框禁用状态样式
*/
:deep(.el-input.is-disabled .el-input__wrapper) {
  background: rgba(0, 0, 0, 0.04);
}

/* 
输入框移入hover样式
*/
// :deep(.el-input__wrapper:hover) {
//   box-shadow: none;
//   border: 1px solid rgba(0, 0, 0, 0.45);
// }
/* 
输入框聚焦样式
*/
// :deep(.el-input .el-input__wrapper.is-focus) {
//   box-shadow: none;
//   border: 1px solid #d0963e;
// }
/* 
输入框错误状态
*/
:deep(.el-form-item.is-error .el-input__wrapper) {
  background: #ffeee8;
  box-shadow: 0 0 0 1px #ecad9d inset;
}

/* 
输入框占位字体颜色
*/
:deep(input::-webkit-input-placeholder) {
  color: #c0c4cc;

  .el-message__content {
    --el-message-text-color: rgba(0, 0, 0, 0.85);
  }
}

:deep(input::-moz-input-placeholder) {
  color: #c0c4cc;
}

:deep(input::-ms-input-placeholder) {
  color: #c0c4cc;
}

/* 
下拉框移入hover颜色更改
*/
// :deep(.el-select) {
//   --el-select-border-color-hover: none;
// }
/* 
下拉框聚焦颜色更改
*/
// :deep(.el-select .el-input__wrapper.is-focus) {
//   box-shadow: none !important;
// }
// :deep(.el-select .el-input.is-focus .el-input__wrapper) {
//   box-shadow: none !important;
// }
/* 
日期选择聚焦颜色更改
*/
:deep(.el-range-editor.is-active) {
  box-shadow: 0 0 0 1px #d0963e inset !important;
}

/* 
计数器颜色修改
*/
:deep(.el-input-number__decrease) {
  background: rgba(0, 0, 0, 0.04);
}

:deep(.el-input-number__increase) {
  background: rgba(0, 0, 0, 0.04);
}

/* 
左侧菜单 字体大小
*/
.navbar-menu .navbar-nav .nav-link {
  font-size: var(--font-size-body-2);
}

.navbar-menu .navbar-nav {
  padding-top: 6px !important;
  padding-right: 6px !important;
}

.navbar-menu .navbar-nav .nav-link.active {
  background-color: rgba(208, 150, 62, 0.12) !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.navbar-menu .navbar-nav .nav-sm .nav-link:hover {
  background-color: rgba(208, 150, 62, 0.12) !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  color: #7c7f90 !important;
}

.navbar-menu .navbar-nav .nav-link:hover {
  background-color: rgba(208, 150, 62, 0.12) !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

/* 左侧菜单 */
[data-layout='vertical'][data-sidebar-size='sm'] .navbar-menu .navbar-nav .nav-item:hover>a.menu-link {
  background-color: rgba(208, 150, 62, 0.12);
  color: var(--vz-vertical-menu-sub-item-color);
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

/* 
滚动条
*/
.el-scrollbar__bar {
  z-index: 2 !important;
}

/* 
内容
*/
html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--background-color-1);
  overflow: hidden;
}

.page-content {
  height: 100vh;
  padding-bottom: 0%;
  padding-top: 68px;
  padding-left: 0%;
  background-color: var(--background-color-1);
  padding-right: 0;

  .container-fluid {
    padding: 0 16px;
    --vz-gutter-x: 0;
  }
}

.logo-p-t {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.el-range-editor.is-active:hover,
.el-range-editor.is-active {
  box-shadow: 0 0 0 1px #d0963e inset !important;
}

.el-date-range-picker {
  --el-datepicker-text-color: var(--primary-6) !important;
  --el-datepicker-off-text-color: var(--el-text-color-placeholder);
  --el-datepicker-header-text-color: var(--el-text-color-regular);
  --el-datepicker-icon-color: var(--el-text-color-primary);
  --el-datepicker-border-color: var(--el-disabled-border-color);
  --el-datepicker-inner-border-color: var(--el-border-color-light);
  --el-datepicker-inrange-bg-color: var(--primary-3) !important;
  --el-datepicker-inrange-hover-bg-color: var(--primary-3) !important;
  --el-datepicker-active-color: var(--primary-6) !important;
  --el-datepicker-hover-text-color: var(--primary-6) !important;
}

.el-date-table td.today .el-date-table-cell__text {
  color: var(--primary-6) !important;
}

.el-date-table td.today.end-date .el-date-table-cell__text,
.el-date-table td.today.start-date .el-date-table-cell__text {
  color: #ffffff !important;
}

.el-picker-panel__icon-btn {
  margin: 0 !important;
}

.el-date-table th {
  text-align: center !important;
}

.el-table .ascending .sort-caret.ascending {
  border-bottom-color: var(--primary-6) !important;
}

.el-table .descending .sort-caret.descending {
  border-top-color: var(--primary-6) !important;
}

// #page-topbar {
//     background-color: var(--background-color-1);
// }

// .navbar-menu {
//     background-color: var(--background-color-1);
//     border-right: none;
// }

// .navbar-brand-box {
//     background-color: var(--background-color-1);
// }

// [data-layout="vertical"][data-sidebar-size="sm"] .navbar-brand-box {
//     background-color: var(--background-color-1);
// }

.static-content-item {
  margin-left: 12px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    background-color: #d0963e;
  }
}

// 表格页面 右上角按钮样式
.title-more {
  height: 100%;
  display: flex;
  align-items: center;

  .title-more-add {
    margin-right: 0.5rem;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .title-more-down {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.more-operation-dropdown {
  .el-scrollbar {
    .el-dropdown-menu {
      .el-dropdown-menu__item {
        min-width: 108px;
        justify-content: center;
      }
    }
  }
}

.el-input-number__decrease:hover,
.el-input-number__increase:hover {
  color: var(--primary-4) !important;
}

.el-menu--popup-container {
  .el-menu-item.is-active {
    color: var(--primary-4) !important;
  }

  .el-menu-item:hover,
  .el-sub-menu:hover,
  .el-sub-menu__title:hover {
    background-color: rgba(208, 150, 62, 0.12) !important;
    color: var(--primary-6) !important;
  }
}

// .el-overlay {
//   // top: 65px !important;
// }

.drawer-class.el-drawer.rtl {
  top: 65px !important;
  height: auto !important;
}

.drawer-class.el-drawer {
  box-shadow: none;
  border-left: 1px solid #eee;
  width: 540px !important;

  .el-drawer__body {
    padding: 0;
  }
}