/* 
用来重定义变量  element
*/
body {
  --vz-body-color: var(--color-text-1);
  --vz-body-font-size: var(--font-size-body-2);
}

.el-button {
  --el-button-text-color: var(--color-text-2);
}

.el-pager li {
  --el-pagination-button-color: var(--color-text-1);
}

.el-pagination__jump {
  --el-text-color-regular: var(--color-text-1);
}

.el-input__inner {
  --el-input-text-color: var(--color-text-1);
}

.el-button.is-disabled {
  --el-button-disabled-text-color: var(--color-text-3);
}

.el-tree {
  --el-tree-text-color: var(--color-text-1);
}