/* 
**全局class样式
*/

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
}


.drawer-class.el-drawer.rtl {
  top: 65px !important;
  height: auto !important;
}

.drawer-class.el-drawer {
  box-shadow: none;
  border-left: 1px solid #eee;
  width: 540px !important;

  .el-drawer__body {
    padding: 0;
  }
}

.el-table .cell {
  padding: 0 12px;
}