/* 
变量
*/
body,
#app {
    /* #### 主色 */
    --primary-6: #d0963e;
    --primary-5: #d9ab5b;
    --primary-7: #af7427;
    --primary-4: #e3c07b;
    --primary-3: #ecd49d;
    --primary-2: #f6e8c1;
    --primary-1: #fffae8;

    /* 成功色 */

    --success-6: #3ed096;
    --success-5: #5bd9a3;
    --success-7: #27af7d;
    --success-3: #9decc5;
    --success-2: #c1f6da;
    --success-1: #e8fff2;

    /* 信息色 */

    --Info-6: #3e78d0;
    --Info-5: #5b92d9;
    --Info-7: #2759af;
    --Info-3: #9dc5ec;
    --Info-2: #c1ddf6;
    --Info-1: #e8f5ff;

    /* #### 警告色 */

    --Warning-6: #f7a54b;
    --Warning-5: #f9b86a;
    --Warning-7: #cc7b2f;
    --Warning-3: #fcdca8;
    --Warning-2: #fdebc8;
    --Warning-1: #fff8e8;

    /* #### 危险色 */

    --danger-6: #d04d3e;
    --danger-5: #d96c5b;
    --danger-7: #af3027;
    --danger-3: #ecad9d;
    --danger-2: #f6cec1;
    --danger-1: #ffeee8;

    /* 辅助色 */

    --Secondary-6: #878a99;
    --Secondary-5: #9a9ead;
    --Secondary-7: #595f86;
    --Secondary-3: #c1c6d6;
    --Secondary-2: #d4dbeb;
    --Secondary-1: #e8f0ff;

    /* 常用颜色 */
    --in-common-use-1: #ffffff;
    --in-common-use-2: #000000;
    /* 描边色 */

    --color-border-1: rgba(0, 0, 0, 0.15);
    --color-border-2: rgba(0, 0, 0, 0.06);

    /* #### 填充色 */

    --color-fill--1: rgba(0, 0, 0, 0.02);
    --color-fill--2: rgba(0, 0, 0, 0.04);

    /* 文字颜色 */

    --color-text-1: rgba(0, 0, 0, 0.85);
    --color-text-2: rgba(0, 0, 0, 0.65);
    --color-text-3: rgba(0, 0, 0, 0.45);
    --color-text-4: rgba(0, 0, 0, 0.25);

    /* 字体大小 */

    --font-size-body-2: 14px;
    --font-size-body-1: 12px;
    --font-size-caption: 12px;
    --font-size-title-1: 16px;
    --font-size-title-2: 22px;
    --font-size-title-3: 28px;

    /* 字体粗细 */
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;

    /* 圆角 */
    --border-radius-4: 4px;
}